.asset_back-det {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.head-flex {
  align-items: center;
  border-bottom: 1px solid #dedede;
  display: flex;
  margin: 15px 0;
  justify-content: space-between;
}

.list-group-flush > .list-group-item {
  padding-left: 0;
  padding-right: 0;
}

.list-group-flush > .list-group-item {
  border-width: 0 0 var(--bs-list-group-border-width);
}
.list-group-item:first-child {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y)
    var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  background-color: var(--bs-list-group-bg);
  border: var(--bs-list-group-border-width) solid
    var(--bs-list-group-border-color);
}
.align-items-center {
  align-items: center !important;
}
.col {
  flex: 1 0;
}

.mb-0 {
  margin-bottom: 0 !important;
  font-size: 0.8125rem;
}
.list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y)
    var(--bs-list-group-item-padding-x);
  color: var(--bs-list-group-color);
  background-color: var(--bs-list-group-bg);
  border: var(--bs-list-group-border-width) solid
    var(--bs-list-group-border-color);
}
.list-group {
  --bs-list-group-color: #283e59;
  --bs-list-group-bg: transparent;
  --bs-list-group-border-color: var(--bs-gray-200);
  --bs-list-group-border-width: 1px;
  --bs-list-group-border-radius: 0.375rem;
  --bs-list-group-item-padding-x: 1.25rem;
  --bs-list-group-item-padding-y: 1rem;
  --bs-list-group-action-color: var(--bs-body-color);
  --bs-list-group-action-hover-color: var(--bs-body-color);
  --bs-list-group-action-hover-bg: #f9fbfd;
  --bs-list-group-action-active-color: #12263f;
  --bs-list-group-action-active-bg: #edf2f9;
  --bs-list-group-disabled-color: #95aac9;
  --bs-list-group-disabled-bg: transparent;
  --bs-list-group-active-color: #fff;
  --bs-list-group-active-bg: #2c7be5;
  --bs-list-group-active-border-color: #2c7be5;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: var(--bs-list-group-border-radius);
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.set-margin-section {
  margin-bottom: 7vh;
}
.h6 {
  font-size: 0.625rem !important;
  margin-top: 0;
  margin-bottom: 1.125rem;
  font-weight: 500 !important;
  line-height: 1.1;
}
.text-uppercase.h6,
h6.text-uppercase {
  letter-spacing: 0.08em;
}

.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-gray-600) !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.mb-2 {
  margin-bottom: 0.375rem !important;
}

.h2 {
  font-size: 1.25rem;
}
.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding-top: calc(var(--bs-card-spacer-y) * 0.5);
  padding-bottom: calc(var(--bs-card-spacer-y) * 0.5);
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.card-table {
  margin-bottom: 0;
}

.table-sm {
  font-size: 0.8125rem;
}
.table {
  --bs-table-color: var(--bs-body-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-gray-200);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: var(--bs-gray-100);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: var(--bs-gray-100);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: var(--bs-gray-100);
  width: 100%;
  margin-bottom: 1.5rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}

.table > thead {
  vertical-align: bottom;
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border: 0 solid;
  border-color: inherit;
}

.card-table tbody td:first-child,
.card-table thead th:first-child {
  padding-left: var(--bs-card-spacer-x) !important;
}

.card-table thead th {
  border-top-width: 0;
}
.table-sm thead th {
  font-size: 0.625rem !important;
}
.table thead th,
tbody td,
tbody th {
  vertical-align: middle;
}
.table thead th {
  background-color: var(--bs-gray-100) !important;
  text-transform: uppercase !important;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.08em !important;
  color: #95aac9 !important;
}
.table [data-sort],
.table-nowrap td,
.table-nowrap th {
  white-space: nowrap;
}
.table td,
.table th {
  border-top: 1px solid var(--bs-table-border-color);
  border-bottom: 0;
}
.table-sm > :not(caption) > * > * {
  padding: 1rem;
}
.table > :not(caption) > * > * {
  padding: 1rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}
.card-table tbody td:first-child,
.card-table thead th:first-child {
  padding-left: var(--bs-card-spacer-x) !important;
}
.table [data-sort],
.table-nowrap td,
.table-nowrap th {
  white-space: nowrap;
}
.table td,
.table th {
  border-top: 1px solid var(--bs-table-border-color);
  border-bottom: 0;
}
.table-sm > :not(caption) > * > * {
  padding: 1rem;
}
.table > :not(caption) > * > * {
  padding: 1rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
tbody,
td,
tfoot,
th,
thead,
tr {
  border: 0 solid;
  border-color: inherit;
}
.fs-base {
  font-size: 0.9375rem !important;
}

.alert-danger {
  --bs-alert-color: #fff !important;
  --bs-alert-bg: #238dd8 !important;
  --bs-alert-border-color: #238dd8 !important;
}
.alert-danger {
  --bs-alert-color: #5c1623;
}
.alert {
  --bs-alert-bg: transparent;
  --bs-alert-padding-x: 1.25rem;
  --bs-alert-padding-y: 0.75rem;
  --bs-alert-margin-bottom: 1.5rem;
  --bs-alert-color: inherit;
  --bs-alert-border-color: transparent;
  --bs-alert-border: 1px solid var(--bs-alert-border-color);
  --bs-alert-border-radius: 0.375rem;
  position: relative;
  padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
  margin-bottom: var(--bs-alert-margin-bottom);
  color: var(--bs-alert-color);
  background-color: var(--bs-alert-bg);
  border: var(--bs-alert-border);
  border-radius: var(--bs-alert-border-radius);
  width: 85%;
}
.fade {
  transition: opacity 0.15s linear;
}

.inestment_status-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mess_pop-head {
  margin-bottom: 20px;
}
.invest_a {
  font-size: 20px;
}
.action_icon{
  font-size: 20px;
}