.login-input-box {
  width: 50%;
  margin-bottom: 1rem;
  margin-left: 18.7rem;
}
.set-box {
  margin-top: 2rem;
  padding: 2rem 3rem;
}
.set-text-login {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 8rem;
}

@media (min-width: 320px) and (max-width: 700px) {
  .login-input-box {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 0rem;
  }
  .set-btn-login {
    width: 100% !important;
  }
}

@media (min-width: 701px) and (max-width: 1900px) {
  .set-btn-login {
    width: 445px !important;
  }
}
@media (min-width: 701px) and (max-width: 700px) {
  .login-input-box {
    margin-bottom: 1rem;
    width: 445px;
    margin-bottom: 1rem;
    margin-left: 7.6rem;
    width: 445px;
  }
}

@media (min-width: 701px) and (max-width: 991px) {
  .login-input-box {
    margin-bottom: 1rem;
    margin-left: 7.6rem;
    width: 445px;
  }
}
@media (min-width: 991px) and (max-width: 1199px) {
  .login-input-box {
    margin-bottom: 1rem;
    margin-left: 17.6rem;
    width: 445px;
  }
}

@media (min-width: 1201px) and (max-width: 1399px) {
  .login-input-box {
    margin-bottom: 1rem;
    margin-left: 21rem;
    width: 445px;
  }
}

@media (min-width: 1400px) and (max-width: 1799px) {
  .login-input-box {
    width: 445px;
    margin-bottom: 1rem;
    margin-left: 27.7rem;
  }
}
